<div class="container-fluid">
<h2>Employees</h2>
<!--Non functional button-->
<!-- <button>Create New</button> -->
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <td>{{employee.employeeId}}</td>
            <td>{{employee.first}}</td>
            <td>{{employee.last}}</td>
            <td>{{employee.role}}</td>
            <td>{{employee.salary | currency:'USD'}}</td>
            <!--Button not functional yet-->
            <td><button>View</button><button>Update</button><button>Remove</button></td>
        </tr>
    </tbody>
</table>

<h3>Create a New Employee</h3>
<form action="">
    <div class="form-group">
        <label for="">ID</label>
        <input type="text">
    </div>

    <div class="form-group">
        <label for="">First Name</label>
        <input type="text">
    </div>

    <div class="form-group">
        <label for="">Last Name</label>
        <input type="text">
    </div>

    <div class="form-group">
        <label for="">Role</label>
        <input type="text">
    </div>

    <div class="form-group">
        <label for="">Salary</label>
        <input type="number">
    </div>

    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>
</div>