<h2>Invoice Details</h2>
<!--Not quite sure what goes here-->
<p>Business Name</p>
<address>Street Name</address>
<address>City, State Zip Code</address>
<p>Phone Number</p>

<div class="jumbotron bg-light">
    <strong>Bill To:</strong>
    <p>Customer's Name</p>
    <address>Customer's Address</address>
    <p>Invoice Date</p>
    <input type="date" name="" id="">
</div>

<table class="table table-primary table-striped ">
    <thead>
        <tr >
            <th>#</th>
            <th>Quantity</th>
            <th>Product Purchased</th>
            <th>Product Prices</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td>productQuantity</td>
            <td>productName</td>
            <td>productPrice</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <tr>
        <td>Subtotal</td>
        <td>Tax</td>
        <td>Total Due: </td>
    </tr>
</table>

<p>Thank you for your purchase! Please return this invoice with payment. Thank you!</p>

<strong>Terms of Payment</strong>
<p><i>**Payment upon receipt, due within 30 days. Late payments will be billed a penalty.</i></p>