<div class="container-fluid">
<h2>Sold Product Details <i class="fas fa-file-invoice-dollar"></i></h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Supplier ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.description}}</td>
            <td>{{product.pricePerUnit}}</td>
            <!-- <td>{{products.supplierId}}</td> -->
        </tr>
    </tbody>
</table> 



<hr>
<table>
    <thead>
        <th>Sold Product Details</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>ID</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Name</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>Price</td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td>Supplier</td>
        </tr>
    </tbody>
</table>
</div>

