<div class="container-fluid">
<h2>Sold Product Details</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Supplier ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Product.prodId</td>
            <td>Product.name</td>
            <td>Product.desc</td>
            <td>Product.price</td>
            <td>Product.supplierId</td>
        </tr>
    </tbody>
</table>

<hr>

<table>
    <thead>
        <tr>
            <th>Sold Product Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Product ID</td>
            <td>Product.prodId</td>  
        </tr>
        <tr>
            <td>Product Name</td>
            <td>Product.prodName</td>  
        </tr>
        <tr>
            <td>Product Description</td>
            <td>Product.prodDesc</td>  
        </tr>
        <tr>
            <td>Product Price</td>
            <td>Product.prodPrice</td>  
        </tr>
        <tr>
            <td>Supplier ID</td>
            <td>Product.supplierId</td>  
        </tr>
    </tbody>
</table>
</div>