<div class="container-fluid">
<div class="jumbotron bg-light">
    <h2>Dashboard <i class="fas fa-chart-line"></i></h2>
    <p>Welcome to the Medical Store! </p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <app-employees></app-employees>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <app-customers></app-customers>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <app-suppliers></app-suppliers>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <app-products></app-products>
        </div>
    </div>
</div>

</div>

