<div class="container-fluid">
    <h2>Inventory <i class="fas fa-box"></i></h2>
    <button data-bs-toggle="modal" data-bs-target="#addProductModal">Create New <i class="fas fa-edit"></i></button>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Minimum Limit</th>
                <th>Current Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = " let product of products ">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.description}}</td>
                <td>{{product.pricePerUnit | currency }}</td>
                <td>{{product.minLimit}}</td>
                <td>{{product.currentStock}}</td>
                <!--Button not functional yet-->
                <td><button>View</button><button>Update </button><button>Remove </button></td>
            </tr>
        </tbody>
    </table>
    
    
    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create a New Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    
                    <div class="form-group">
                    <label for="">Name</label>
                    <input type="text">
                    </div>
                    
                    <div class="form-group">
                    <label for="">Description</label>
                    <input type="text">
                    </div>
                    
                    <div class="form-group">
                    <label for="">Price</label>
                    <input type="number" name="" id="">
                    </div>
                    
                    <div class="form-group">
                    <label for="">Minimum Limit</label>
                    <input type="number" name="" id="">
                    </div>
                    
                    <div class="form-group">
                    <label for="">Current Stock</label>
                    <input type="number" name="" id="">
                    </div>
                    
                    <button type="reset">Reset</button>
                    <button type="submit">Submit</button>
                    </form>
                    </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>