<div class="container-fluid">
<h2>Inventory</h2>
<!--Non functional button-->
<button>Create New</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Minimum Limit</th>
            <th>Current Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Product.prodId</td>
            <td>Product.name</td>
            <td>Product.desc</td>
            <td>Product.price</td>
            <td>Product.minimumLimit</td>
            <td>Product.currentStock</td>
            <!--Button not functional yet-->
            <td><button>View</button><button>Update</button><button>Remove</button></td>
        </tr>
    </tbody>
</table>

<h3>Create a New Product</h3>
<form action="">

<div class="form-group">
<label for="">ID</label>
<input type="text">
</div>

<div class="form-group">
<label for="">Name</label>
<input type="text">
</div>

<div class="form-group">
<label for="">Description</label>
<input type="text">
</div>

<div class="form-group">
<label for="">Price</label>
<input type="number" name="" id="">
</div>

<div class="form-group">
<label for="">Minimum Limit</label>
<input type="number" name="" id="">
</div>

<div class="form-group">
<label for="">Current Stock</label>
<input type="number" name="" id="">
</div>

<button type="reset">Reset</button>
<button type="submit">Submit</button>
</form>
</div>