<!-- <mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>  -->

<nav [class]="navClass">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{title}} 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
    </svg></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/suppliers" routerLinkActive="active">Suppliers</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/employees" routerLinkActive="active">Employees</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/customers" routerLinkActive="active">Customers</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/invoice-details" routerLinkActive="active">Invoice Details</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/sold-product-details" routerLinkActive="active">Sold Product Details</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/reports" routerLinkActive="active">Reports</a></li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>