<h1>{{title}}</h1>
<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/inventory" routerLinkActive="active">Inventory</a></li>
    <li><a routerLink="/suppliers" routerLinkActive="active">Suppliers</a></li>
    <li><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
    <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
    <li><a routerLink="/invoice-details" routerLinkActive="active">Invoice Details</a></li>
    <li><a routerLink="/sold-product-details" routerLinkActive="active">Sold Product Details</a></li>
    <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>