<h2>Customers</h2>
<!--Non functional button-->
<button>Create New </button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Customer.cust_id</td>
            <td>Customer.first_name</td>
            <td>Customer.last_name</td>
            <!--Button not functional yet-->
            <td><button>View</button><button>Update</button><button>Remove</button></td>
        </tr>
    </tbody>
</table>

<h3>Create a New Customer</h3>
<form action="">
    <div class="form-group">
        <label for="">ID</label>
        <input type="text">
    </div>

    <div class="form-group">
        <label for="">First Name</label>
        <input type="text">
    </div>

    <div class="form-group">
        <label for="">Last Name</label>
        <input type="text">
    </div>


    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>