<div class="container-fluid">
<h2>Suppliers</h2>
<!--Non functional button-->
<button>Create New</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>supplier.sup_id</td>
            <td>supplier.name</td>
            <td><button>View</button><button>Update</button><button>Remove</button></td>
        </tr>
    </tbody>
</table>

<h3>Create a New Supplier</h3>
<form action="">
<div class="form-group">
<label for="">ID</label>
<input type="text">
</div>

<div class="form-group">
<label for="">Name</label>
<input type="text">
</div>

<button type="reset">Reset</button>
<button type="submit">Submit</button>
</form>
</div>